<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media.dingping.cameramonitor">
    <uses-sdk
        android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">

        </activity>

        <activity android:name=".test.TestActivity">

        </activity>
        <activity android:name=".ModifyActvity"/>
        <activity
            android:name=".main.MainActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity android:name=".TestPlayActivity">

        </activity>
        <activity
            android:name=".PersonalSettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".setting.SettingActivity"/>
        <activity android:name=".setting.SettingDefencePlanActivity"/>
        <activity android:name=".setting.SettingDefenceTypeActivity"/>
        <activity android:name=".setting.SettingDoubletimeActivity"/>


        <activity
            android:name=".PlayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".message.MessageActivity"/>
        <activity android:name=".message.MessageImageActivity"/>
        <activity
            android:name=".message.MessageDetailPlayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>


        <activity android:name=".Test">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <receiver
            android:name=".updater.DownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".updater.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Dialog">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <receiver
            android:name=".broadcast.NetWorkBroadcastListenner"
            android:label=".broadcast.NetWorkBroadcastListenner"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name=".PushServer"/>
        <service android:name=".PushServer_test"/>
    </application>

</manifest>